<div class="container mt-10">
    <div class="conversation-container" *ngIf="fuid()">
        <div class="messages-container">
            <div *ngFor="let message of messListt" [class.other-user]="fuid() == message.senderId">
                <div class="message-container">
                    <p class="message-content">{{ message.content }}</p>
                    <p class="message-timestamp">{{ message.timestamp }}</p>
                </div>
            </div>
        </div>
        <div class="message-input-container">
            <textarea [(ngModel)]="newMessage"></textarea>
            <button (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>