<div class="container mt-5">

  <div class="row">
    <div class="col-8">
      <h3>Üyeler</h3>
      <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Uye Ekle</button>
      <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBack3">Send
        Bulk</button>
      <table class="table table-hover mt-3">
        <thead>
          <th>User Id</th>
          <th>Username</th>
          <th>Mail</th>
          <th>Password</th>
          <th>Admin</th>
          <th>Created Date</th>
          <th>Send Message</th>
          <th>Edit</th>
          <th>Delete</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.uid }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.mail }}</td>
            <td>{{ user.password }}</td>
            <td>
              <span *ngIf="user.admin == 1" class="badge bg-success">Evet</span>
              <span *ngIf="user.admin == 0" class="badge bg-danger">Hayır</span>
            </td>
            <td>{{ user.cdate }}</td>
            <td><button class="btn btn-outline-primary" *ngIf="returnUID() != user.uid"
                (click)="userRedirect(user.uid)">Send
                Message</button></td>
            <td><button class="btn btn-outline-warning" (click)="userEdit(user, modalUser)" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">Edit</button></td>
            <td><button class="btn btn-outline-danger" (click)="userRemove(user)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #modalUser id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form [formGroup]="frm" (submit)="userEditAdd()">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">User Edit</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username">
            <label>User Mail</label>
            <input type="text" class="form-control" formControlName="mail">
            <label>User Password</label>
            <input type="text" class="form-control" formControlName="password">
            <label>Admin</label>
            <select class="form-control" formControlName="admin">
              <option value="1">Evet</option>
              <option value="0">Hayır</option>
            </select>
            <input type="hidden" class="form-control">

          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-outline-primary" value="Save">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" #modalUserAdd id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <form [formGroup]="frm" (submit)="userAdd()">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">User Edit</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username">
            <label>User Mail</label>
            <input type="text" class="form-control" formControlName="mail">
            <label>User Password</label>
            <input type="text" class="form-control" formControlName="password">
            <label>Admin</label>
            <select class="form-control" formControlName="admin">
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
            <input type="hidden" class="form-control">

          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-outline-primary" value="Save">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" #modalSendBulk id="staticBack3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <form [formGroup]="bulkMsg" (submit)="sendBulk()">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Send Bulk</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="message-input-container">
              <textarea formControlName="bulkM"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-outline-primary" value="Send">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>